# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
uploads/
*/uploads/

# IDE - VSCode
.vscode/
*.code-workspace

# Misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local 